<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Your OTP Code</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333333;
      }
      p {
        color: #555555;
      }
      .otp-code {
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        background-color: #f0f0f0;
        padding: 10px 20px;
        margin: 20px 0;
        border-radius: 5px;
      }
      .footer {
        margin-top: 20px;
        font-size: 12px;
        color: #999999;
      }
      .link-button {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        background-color: #007bff;
        padding: 10px 20px;
        margin: 20px 0;
        border-radius: 5px;
        text-decoration: none;
      }
      .link-button:hover {
        background-color: #0056b3;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Hi {{fullname}},</h1>
      <p>It looks like you haven't verified your account yet.</p>
      <p>To complete your registration and start using all features, please
        verify your email by clicking the link below:</p>
      <a
        href='https://test-with-enen.onrender.com/auth/verify/{{token}}'
        class='link-button'
        style='color: #ffffff'
      >Verify My Account</a>

      <p>If you've already verified, you can safely ignore this message.</p>
      <p>This link will expire in 10 minutes for your security. Need help? Just
        reply to this email.</p>
      <div class='footer'>
        <p>Thanks,</p>
        <p>Olaniyan Mutiu</p>
      </div>
    </div>
  </body>
</html>